﻿@page
@{
    ViewBag.Title = "Category List";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script type="text/html" id="category-row-template">
    <tr>
        <th scope="row">
            <a class="btn btn-primary btn-sm" href='javascript:;' data-categoryid="${id}" onclick="loadChildCategories(this);">Sub Categories</a>
        </th>
        <td>${title}</td>
        <td>
            <a class="btn btn-primary btn-sm" href='@Url.Action("Index", "Product")?categoryid=${id}' target="_blank">Products</a>
        </td>
    </tr>
</script>
@section Scripts
    {
    <script>
        var parentCategoryId = '@ViewBag.ParentCategoryID';
        $(function() {
            $.template("category-row-template", $('#category-row-template').html());
            refreshCategories();
        });

        function refreshCategories() {
            tableDataLoader("/api/Category/list", { parentCategoryId: parentCategoryId }, "category-row-template");
        }

        function loadChildCategories(link) {
            var categoryId = $(link).addClass('disabled').attr('data-categoryid');
            var tr = $(link).closest('tr');
            tableDataLoader("/api/Category/list", { parentCategoryId: categoryId }, "category-row-template", function(data,newRows) {
                newRows.insertAfter(tr);
            });
        }
    </script>
}
