﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration config
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - InGameGroupDemo.Web</title>
    <script>
        var config = {
            apiUrl : '@config["APIUrl"]',
        };
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="container body-content">
        <header class="navbar bd-navbar" visible="@(ViewBag.HideHeader != true)">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li><a class="nav-link" asp-action="Index" asp-controller="Home">Categories</a></li>
            </ul>
        </header>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - InGameGroupDemo.Web</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.tmpl/jquery.tmpl.min.js"></script>
    <script src="~/js/jquery.tmpl/jquery.tmplPlus.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/layout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
