﻿@model string
@{
    ViewBag.Title = "Forgot Password Change";
    ViewBag.HideHeader = true;
    var token = Model;
}
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Demo Forgot Password</h2>
                <p>Enter your new password.</p>
            </div>
            <form id="frmForgot">
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" value="">
                    <input type="hidden" id="token" value="@token">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="new password">
                </div>
                <button type="submit" class="btn btn-primary">Save Password</button>
            </form>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).on('submit', '#frmForgot', function (e) {
            $.ajax({
                url: config.apiUrl + '/api/login/forgot-password-change',
                type: 'POST',
                data: {
                    token: $('#token', this).val(),
                    email: $('[type=email]', this).val(),
                    newPassword: $('[type=password]', this).val(),
                },
                dataType: 'text'
            }).done(function (result) {
                if (result == true) {
                    alert('Your password has been changed!');
                }
            }).fail(function (xhr, error) {
                console.log(arguments);
            });
            e.preventDefault();
        });
    </script>
}
