﻿@{
    ViewBag.Title = "Forgot Password";
    ViewBag.HideHeader = true;
}
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Demo Forgot Password</h2>
                <p>Enter your email to recover your password.</p>
            </div>
            <form id="frmForgot">
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" value="oguzhan.kahyaoglu@yahoo.com">
                </div>
                <button type="submit" class="btn btn-primary">Recover Password</button>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).on('submit', '#frmForgot', function(e) {
            $.ajax({
                url: config.apiUrl + '/api/login/forgot-password',
                type: 'POST',
                data: { email :$('[type=email]',this).val()},
                dataType: 'text'
            }).done(function (result) {
                if (result == true) {
                    alert('An email containing your password-reset link has been sent to you.');
                }
            }).fail(function (xhr, error) {
                console.log(arguments);
            });
            e.preventDefault();
        });
    </script>
}
