﻿@{
    ViewBag.Title = "Login";
    ViewBag.HideHeader = true;
}
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Demo Login</h2>
                <p>Please enter your email and password</p>
            </div>
            <form id="frmLogin">
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword">
                </div>
                <div class="forgot">
                    <a asp-action="Forgot">Forgot password?</a>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="remember-username"/>
                    <label for="remember-username">Remember username?</label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $(document).on('submit',
            '#frmLogin',
            function(e) {
                var postData = { username: $('[type=email]', this).val(), password: $('[type=password]', this).val() };
                var settings = {
                    url: config.apiUrl + '/api/login/login',
                    type: 'POST',
                    data: postData,
                    dataType: 'text'
                };
                $.ajax(settings).done(function(token) {
                    authToken.set(token);
                    if ($('#remember-username').is(':checked')) {
                        localStorage.setItem("username", postData.username);
                    }
                    location.href = '@Url.Action("Index", "Home")';
                }).fail(function(xhr, error) {
                    console.log(arguments);
                });
                e.preventDefault();
            });

        $(function() {
            var userName = localStorage.getItem("username");
            if (userName)
                $('[type=email]', '#frmLogin').val(userName);
        });
    </script>
}
