﻿@{
    ViewBag.Title = "Product List";
    var productId = (int)ViewBag.ProductId;
}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row" id="gradient">
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="product-template">
    <div class="col-md-4">
        <img src="${imageUrl}" class="img-fluid">
    </div>
    <div class="col-md-8" id="overview">
        <div class="row">
            <div class="col-xs-12">
                <ul class="pb-product-details-ul">
                    <li><span class="fa fa-calendar">${title}</span></li>
                    <li><span class="fa fa-phone">${description}</span></li>
                </ul>
            </div>
        </div>
    </div>
</script>

<style>
    .pb-product-details-ul { list-style-type: none; padding-left: 0; color: black; }
    .pb-product-details-ul > li { padding-bottom: 5px; font-size: 15px; }
    #gradient {  background: #feffff; /* Old browsers */ background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 31%, #a0d8ef 62%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #feffff 0%,#ddf1f9 31%,#a0d8ef 62%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #feffff 0%,#ddf1f9 31%,#a0d8ef 62%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=1 ); /* IE6-9 */ border: 1px solid #f2f2f2; padding: 20px; }
    #hits { border-right: 1px solid white; border-left: 1px solid white; vertical-align: middle; padding-top: 15px; font-size: 17px; color: white; }
    #fan { vertical-align: middle; padding-top: 15px; font-size: 17px; color: white; }
    .pb-product-details-fa > span { padding-top: 20px; }
</style>
@section Scripts
    {
    <script>
        var productId = '@productId';
        $(function () {
            $.template("product-template", $('#product-template').html());
            tableDataLoader("/api/Product/detail", { productId: productId }, "product-template", function(data,newRows) {
                newRows.appendTo('#gradient');
            });
        });
    </script>
}
