﻿@{
    ViewBag.Title = "Product List";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script type="text/html" id="category-row-template">
    <tr>
        <th scope="row">${id}</th>
        <td><img src="${imageUrl}" width="50" height="50"/></td>
        <td>${title}</td>
        <td>${price}</td>
        <td>
            <a class="btn btn-primary btn-sm" href='/product/${convertToSlug(title)}-${id}'>Detail</a>
            <a class="btn btn-danger btn-sm" href='/product/delete/?id=${id}'>Delete</a>
        </td>
    </tr>
</script>
@section Scripts
    {
    <script>
        var categoryId = '@ViewBag.categoryId';
        $(function () {
            $.template("category-row-template", $('#category-row-template').html());
            refreshCategories();
        });
        function refreshCategories() {
            tableDataLoader("/api/Product/list-by-category", { categoryId: categoryId }, "category-row-template");
        }
    </script>
}
